
.sidebar-text-node{
     -fx-fill: rgba(255,255,255, 0.25);
     -fx-stroke: green;
}

.sidebar-button {    
    -fx-text-fill: black;
    -fx-background-color: white;
}

.sidebar-title{
    -fx-text-fill: white;    
    -fx-font-smoothing-type: lcd;
    -fx-underline: true;
    -fx-background-color: white;
}

.command-button {    
    -fx-text-fill: white;
    -fx-background-color: red;
}

.command-box {
    -fx-background-color: #336699;
}

.scroll-pane {
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-inventory{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-characters{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-exits{
    -fx-background-color: rgba(244, 194, 66, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-room{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
    -fx-text-fill: black;
}

.scroll-pane > .viewport  {
    -fx-background-color: rgba(59, 165, 100, 0.3); 
}