
.sidebar-text-node{
     -fx-fill: rgba(255,255,255, 0.25);
     -fx-stroke: green;
}

.sidebar-button {    
    -fx-text-fill: black;
    -fx-background-color: white;
}

.sidebar-title{
    -fx-text-fill: white;    
    -fx-font-smoothing-type: lcd;
    -fx-underline: true;
    -fx-background-color: white;
}

.command-button {    
    -fx-text-fill: white;
    -fx-background-color: red;
}

.command-box {
    -fx-background-color: transparent;
}

.node-image {
    -fx-fill: rgba(90, 115, 132);
}

.node-text {
    -fx-font-size: 12pt;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.sidepanel-inventory-node-root {
    -fx-fill: rgba(255,255,255);
}

.sidepanel-characters-node-root {
    -fx-fill: rgba(255,255,255);
}

.sidepanel-exits-node-root {
    -fx-fill: rgba(255,255,255);
}

.sidepanel-room-node-root {
    -fx-fill: rgba(255,255,255);
}

.player-information-root {
    -fx-fill: rgba(104, 115, 132, 0.8);
}

.player-information-detail-root {
    -fx-fill: rgba(182, 195, 216);
}

.player-information-image {
    -fx-fill: rgba(104, 115, 132);
}

.player-information-name {
    -fx-font-size: 16pt;
    -fx-text-fill: black;
}

.player-information-filler {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.player-information-weight {
    -fx-fill: rgba(59, 165, 100);
    -fx-effect: dropshadow(gaussian, green, 5, 0, 0, 0);
}

.player-information-weight-text {
    -fx-font-size: 13pt;
    -fx-font-family: "Marlett";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.scroll-pane {
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-inventory{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-characters{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-exits{
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
}

.sidepanel-room{
    -fx-background-color: rgba(59, 165, 100, 0.3); 
    -fx-effect: dropshadow(gaussian, green, 50, 0, 0, 0);
    -fx-text-fill: black;
}

.scroll-pane > .viewport  {
    -fx-background-color: rgba(59, 165, 100, 0.3); 
}